<div class="row sub-text fs-3">
  <div class="d-flex">
    <div class="col-5 fw-bold ps-lg-3 payments-border payments-border__top-left">Благодійний збір:</div>
    <div class="col-4 fw-bold ps-lg-3 payments-border">Від:</div>
    <div class="col-3 fw-bold ps-lg-3 payments-border payments-border__top-right">Сума:</div>
  </div>

  <div class="d-flex" *ngIf="!payments || payments.length === 0;">
    <p class="col-12 payments-border px-2 fst-italic
    payments-border__bottom-left payments-border__bottom-right">Інформація відсутня.</p>
  </div>

  <div class="d-flex" *ngFor="let payment of payments; let ind = index;">
    <div class="col-5 fst-italic px-2 payments-border text-justify payment-charity"
    [ngClass]="{'payments-border__bottom-left': ind === payments.length - 1}" [routerLink]="['/charity', payment.refersTo.id]">
      {{payment.refersTo.name}}</div>
    <div class="col-4 fst-italic px-2 payments-border text-justify">
      <p>{{(payment.anonymously) ? 'Анонімний користувач' : (payment.paidBy.lastName + ' ' + payment.paidBy.firstName)}}</p></div>
    <div class="col-3 fst-italic px-2 payments-border text-center justify-content-center"
         [ngClass]="{'payments-border__bottom-right': ind === payments.length - 1}">
      <p>{{numberWithSpaces(payment.amount.toFixed(2))}} грн.</p></div>
  </div>
</div>
