<div class="container-fluid">
  <div class="row" style="margin-top: 15vh;">
    <div class="col-12 col-lg-4 offset-lg-4">
      <h1 class="main-text page-header">Вхід в акаунт</h1>

      <form [formGroup]="loginForm">
        <input type="text" class="form-control w-100 mt-5 fs-1 fw-bold" placeholder="Електронна пошта" formControlName="email">
        <input type="password" class="form-control w-100 mt-3 fs-1" placeholder="Пароль" formControlName="password">
      </form>

      <div class="alert-custom--error p-3 mt-4" *ngIf="checkEmailInvalid() || checkPasswordInvalid() || error">
        <p class="sub-text mb-0 fs-4">Помилка</p>
        <ul class="fs-5 mb-0">
          <li class="sub-text text-decoration-underline" *ngIf="checkEmailInvalid()">Електронна пошта введена неправильно.</li>
          <li class="sub-text text-decoration-underline" *ngIf="checkPasswordInvalid()">Мінімальна довжина паролю - 8 символів.</li>
          <li class="sub-text text-decoration-underline" *ngIf="error">{{error}}</li>
        </ul>
      </div>

      <div class="text-center mt-3">
        <button class="btn-custom fs-2 sub-text py-2 px-4" (click)="onLogin()">Вхід</button>
      </div>

      <div class="text-divider d-flex justify-content-center mt-3">
        <p class="mt-5 sub-text fs-3 text-center">Немає акаунту?</p>
      </div>

      <div class="text-center mb-4">
        <a style="cursor: pointer;" class="fs-3 sub-text p-2" [routerLink]="'../register'">Зареєструватися</a>
      </div>

    </div>
  </div>
</div>
