.side-menu.right {
  order: 1;
}

.side-menu .location-menu {
  position: sticky;
  top: calc(var(--header-lg-height) + 10px);
  border-right: 2px solid #dee2e6;
}

.side-menu.right .location-menu {
  border-left: 2px solid #dee2e6 !important;
  border-right: none;
}

.clear-btn {
  background-color: rgba(0,0,0,0);
  color: var(--sub-text-color);
}

.btn-close:hover, .btn-close:focus {
  border: none !important;
  box-shadow: none !important;
}

select {
  border-radius: 5px;
  max-width: min(20vw, 150px);
  background-color: var(--bg-color);
  filter: brightness(125%);
}

.locations-select {
  max-width: 100% !important;
  width: 100% !important;
  height: 50px  !important;
  line-height: 1.5  !important;
  padding: 0.375rem 0.75rem;
}

.select-placeholder {
  position: absolute;
  top: 0.375rem;
  left: 0.75rem;
}

option:not(:checked) {
  background-color: #fff;
}

@media(max-width: 991px) {

  .side-menu.right {
    order: 0 !important;
  }

  .side-menu .location-menu {
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid #dee2e6 !important;
  }

  .side-menu.right .location-menu {
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid #dee2e6 !important;
  }

}
